/**
 * Blox Frontend Default Styles
 *
 * This stylesheet supplies default styling for Blox. It can be disabled in the Blox settings.
 *
 * @package     Blox
 * @copyright   Copyright (c) 2015, Nick Diego
 * @license     http://opensource.org/licenses/gpl-2.0.php GNU Public License
 */


/* Caption Defaults
-------------------------------------------------------------- */
.blox-theme-default .blox-caption-container {
	bottom: 0;
	left: 0;
	position: absolute;
	text-align: left;
	width: 100%;
}
.blox-theme-default .blox-caption-wrap {
	background: rgba(0, 0, 0, .4);
	color: #fff;
	padding: 10px 20px;
}


/* Static Image Defaults
-------------------------------------------------------------- */
.blox-theme-default .blox-image-container {
	margin: 0 auto;
	position: relative;
	text-align: center;
}
.blox-theme-default .blox-image-wrap {
	display: inline-block;
	position: relative;
}

.blox-theme-default .blox-image-container img {
	vertical-align: top; 
}

/* Styling for background images */
.blox-theme-default .blox-image-wrap.blox-image-background {
	display: block;
	position: relative;
	width: 100%;
	height: 400px; /* Adjust as needed */
	
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
}
.blox-theme-default .blox-image-wrap.blox-image-background a {
	display: block;
	width: 100%;
	height: 100%;
}